.button{
  padding: 10px 0px;
  flex: 1 1 180px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  border: 2px solid #3f6f86;
  backdrop-filter: blur(15px);
  border-radius: 30px;
  transition: transform 0.25s ease;

  &:hover{
    cursor: pointer;
    transform: translateY(-5px);
  }
}
