.nav{
  background-color: #192f2d;

  &__list{
    padding: 0px 20px;
    display: flex;
    gap: 40px;
    height: 75px;
  }

  &__item{
    height: 100%;
  }

  &__label{
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 24px;

    &:hover{
      cursor: pointer;
    }
  }

  &__img{
    margin: 0px 5px;
    height: 80%;
  }

  &__radio{
    display: none;
  }
}
