.audio-player{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 175px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;

  #audio-player-toggle:checked ~ &{
    opacity: 1;
    pointer-events: all;
  }

  &__name{
    text-align: center;
    font-size: 20px;
    color: #fff;
  }

  &__progress{
    width: 100%;
  }

  &__time{
    text-align: center;
    font-size: 18px;
    color: #fff;
  }

  &__volume{
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__volume-toggle{
    width: 32px;
    height: 32px;

    &:hover{
      cursor: pointer;
    }
  }

  &__volume-level{
    flex-grow: 1;
  }
}

.audio-player-controls{
  display: flex;
  justify-content: space-between;
  &__icon{
    width: 48px;
    height: 48px;

    &:hover{
      cursor: pointer;
    }
  }
}

.play-list{
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  list-style: none;
  color: #fff;

  &__item{
    padding: 2px 0px 2px 25px;
    transition: filter 0.25s ease;

    &:hover{
      cursor: pointer;
    }
  }

  &__play-pause{
    position: absolute;
    left: 0px;
    transform: translateY(-2px);
    width: 20px;
    height: 20px;
    background-image: url("../assets/svg/play.svg");
    background-size: cover;
    pointer-events: none;
  }
}