.greeting{
  display: flex;
  justify-content: center;
  gap: 15px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;

  #greeting-toggle:checked ~ .datetime-and-greeting &{
    opacity: 1;
    pointer-events: all;
  }

  &__phrase{
    width: 50%;
    text-align: right;
    font-size: 40px;
  }

  &__name{
    width: 50%;
    font-size: 40px;
    color: #fff;

    &::-webkit-input-placeholder{
      color: #fff;
      opacity: 0.75;
      transition: opacity 0.25s ease;
    }

    &:focus::-webkit-input-placeholder{
      opacity: 0;
    }
  }
}