.weather{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 300px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;

  #weather-toggle:checked ~ &{
    opacity: 1;
    pointer-events: all;
  }

  &__input{
    padding-left: 2px;
    width: 100%;
    border-bottom: 1px solid #fff;
    font-size: 30px;
    line-height: 140%;
    color: #fff;

    &::-webkit-input-placeholder{
      color: #fff;
      opacity: 0.75;
      transition: opacity 0.25s ease;
    }

    &:focus::-webkit-input-placeholder{
      opacity: 0;
    }
  }

  &__info-container{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 24px;
    color: #fff;
  }

  &__icon{
    font-size: 36px;
  }

  &__description{
    text-transform: capitalize;
  }
}